// Colors
$off-white: #E6EEF5
$light-cyan: #BFD4E6
$light-cyan-filter: invert(88%) sepia(13%) saturate(420%) hue-rotate(171deg) brightness(95%) contrast(90%)
$light-stl-blue: #1C3B52
$light-stl-blue-filter: invert(17%) sepia(8%) saturate(5012%) hue-rotate(165deg) brightness(90%) contrast(84%)
$stl-blue: #123247
$dark-stl-blue: #0f2233
$darkest-stl-blue: #0B1B2B
$off-black: #050A14

$bg-color: null
$header-bg-color: null
$main-bg-color: null
$footer-bg-color: null
$nav-bg-color: null
$icons-bg-color: null
$icons-bg-color: null
$input-bg-color: null
$input-placeholder-color: null
$buttons-bg-color: null
$buttons-shadow-color: null
$buttons-text-color: null
$buttons-hover-bg-color: null
$buttons-hover-shadow-color: null
$buttons-hover-text-color: null
$home-article-background-color: null
$text-color: null
$a-color: null
$a-hover-color: null

$dark: true
@if $dark
    $bg-color: $off-black
    $header-bg-color: $bg-color
    $main-bg-color: $bg-color
    $footer-bg-color: $bg-color
    $nav-bg-color: $bg-color
    $input-bg-color: $light-stl-blue
    $input-placeholder-color: $light-cyan
    $icons-bg-color: $light-cyan-filter
    $buttons-bg-color: $light-cyan
    $buttons-shadow-color: $light-stl-blue
    $buttons-text-color: $off-black
    $buttons-hover-bg-color: $light-stl-blue
    $buttons-hover-shadow-color: $darkest-stl-blue
    $buttons-hover-text-color: $off-white
    $home-article-background-color: $darkest-stl-blue
    $text-color: $light-cyan
    $a-color: $off-white
    $a-hover-color: $light-cyan
@else 
    $bg-color: $off-white
    $header-bg-color: $bg-color
    $main-bg-color: $bg-color
    $footer-bg-color: $bg-color
    $nav-bg-color: $bg-color
    $input-bg-color: $light-cyan
    $input-placeholder-color: $light-stl-blue
    $icons-bg-color: $light-stl-blue-filter
    $buttons-bg-color: $light-stl-blue
    $buttons-shadow-color: $darkest-stl-blue
    $buttons-text-color: $off-white
    $buttons-hover-bg-color: $stl-blue
    $buttons-hover-shadow-color: $darkest-stl-blue
    $buttons-hover-text-color: $light-cyan
    $home-article-background-color: $light-cyan
    $text-color: $off-black
    $a-color: $off-black
    $a-hover-color: $dark-stl-blue

// Letter spacings
$default-letter-spacing: normal
$accessibility-spacing: 0.2rem

@mixin lexend-bold 
  font-family: "Lexend", sans-serif
  font-optical-sizing: auto
  font-weight: 700
  font-style: normal

@mixin atkinson-hyperlegible-regular 
  font-family: "Atkinson Hyperlegible", sans-serif
  font-weight: 400
  font-style: normal

@mixin atkinson-hyperlegible-bold 
  font-family: "Atkinson Hyperlegible", sans-serif
  font-weight: 700
  font-style: normal

@mixin atkinson-hyperlegible-regular-italic 
  font-family: "Atkinson Hyperlegible", sans-serif
  font-weight: 400
  font-style: italic

@mixin atkinson-hyperlegible-bold-italic 
  font-family: "Atkinson Hyperlegible", sans-serif
  font-weight: 700
  font-style: italic

@mixin flex-centered
    display: flex
    align-items: center

button
    @include atkinson-hyperlegible-regular
    padding: 0
    border: none
    background: none
    color: $buttons-text-color
    border-radius: 6px
    padding: 5px 10px
    > img
        filter: $icons-bg-color


body
    @include atkinson-hyperlegible-regular
    background-color: $bg-color
    background-size: 100vw
    color: $text-color
    display: flex
    flex-direction: column
    padding: 0 0
    margin: 0
    padding-bottom: 150px
    > header
        margin: 0
        background-color: $header-bg-color
        display: flex
        justify-content: flex-start
        a   
            @include flex-centered
            color: $a-color
            text-decoration: none
            text-rendering: geometricPrecision
            
            picture source
                width: 4rem
            picture img
                width: 4rem
        input
            @include atkinson-hyperlegible-regular
            position: absolute
            top: 15px
            right: 10px
            width: 30vw
            
        > img
            position: absolute
            top: 25px
            right: 15px
            width: 20px
            filter: $icons-bg-color
            pointer-events: none
        > button
            display: none
        .desktop-barnav
            display: none

::placeholder
    color: $input-placeholder-color

h1  
    @include lexend-bold
    all: unset
    font-size: 5.7vw
    color: $text-color

h2
    padding-left: 5%

a
    text-decoration-line: none
    color: $a-color
    &:hover
        color: $a-hover-color
        cursor: pointer

.title
    display: block

main
    background-color: $main-bg-color
    position: relative
    animation: animatebottom 0.4s
    display: flex
    > div
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: black
        opacity: 0.85
        z-index: 2
    > article
        position: absolute
        top: 0
        left: 0
        z-index: 3
        > button
            position: absolute
            background: none
            border: none
            box-shadow: none
            top: 0
            right: 0
            > img
                filter: $icons-bg-color

@keyframes animatebottom
    from
        left:-300px
        opacity:0
    to
        left:0
        opacity:1

section
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    > button
        padding: 0
        border: none
        background: none
        box-shadow: none
        > article
            color: $text-color
            margin: 5vw
            width: 300px
            h3
                padding-left: 5%
    > img
        width: 60vw
    > article
        position: relative
        top: -5vw
        display: flex
        flex-direction: column
        align-items: center
        padding: 5vw
        background-color: $home-article-background-color
        
        p
            width: 40vw

        > form
            width: 50vw
            input
                width: 45vw
            textarea
                width: 45vw

label
    border: 0
    clip: rect(0 0 0 0)
    height: 1px
    margin: -1px
    overflow: hidden
    padding: 0
    position: absolute
    width: 1px

input
    padding: 10px
    border-radius: 6px
    border: none
    background-color: $input-bg-color
    color: $text-color

textarea
    @include atkinson-hyperlegible-regular
    padding: 10px
    border-radius: 6px
    border: none
    background-color: $input-bg-color
    color: $text-color

#sendMessage
    &:hover
        cursor: pointer

footer
    background-color: $footer-bg-color

nav
    background-color: $nav-bg-color

ul
    list-style-type: none

.mobile-footer-nav
    display: block
    position: fixed
    bottom: 0
    left: 0  
    width: 100%
    z-index: 5
    flex-grow: 1
    box-shadow: 0px 1px 3px
    ul
        display: flex
        justify-content: space-evenly
        padding-top: 5px 
        padding-left: 8px
        align-items: flex-end
    p
        color: $text-color
    img
        width: 7vw
        max-width: 40px

.desktop-footer-nav
    display: none

.sources
    display: none

.selected-tab
    background-color: $buttons-hover-bg-color
    color: $buttons-hover-text-color
    transition: 0.5s

@media screen and (min-width: 550px)
    h1
        font-size: 2rem                

@media screen and (min-width: 900px)
    button
        margin-left: 20px
        padding: 10px 20px
        background-color: $buttons-bg-color
        color: $buttons-text-color
        border-radius: 6px
        box-shadow: 0px 4px 0px $buttons-shadow-color
        &:hover
            cursor: pointer
            background-color: $buttons-hover-bg-color
            box-shadow: 0px 4px 0px $buttons-hover-shadow-color
            color: $buttons-hover-text-color

    body
        align-items: center
        padding-bottom: 0px
        > header
            position: sticky
            top: 0
            z-index: 2
            width: 100%
            box-shadow: 0px 0px 3px
            .desktop-barnav
                display: block
                ul
                    display: flex
            input
                width: 13vw
                top: 15px
                right: 50px
            > img
                top: 25px
                right: 55px

            > button
                display: block
                position: absolute
                top: 25px
                right: 15px
                width: 20px
                padding: 0
                border: none
                background: none
                box-shadow: none
                &:hover
                    background: none
                    box-shadow: none
                    filter: brightness(150%)
                > p                
                    position: absolute
                    width: 1px
                    height: 1px
                    padding: 0
                    margin: -1px
                    overflow: hidden
                    clip: rect(0, 0, 0, 0)
                    border: 0
                    white-space: nowrap
     
    main
        width: 100%
        z-index: 1
    
    footer
        display: flex
        justify-content: center
        z-index: 1
        width: 100%

    .desktop-footer-nav
        display: block
        > ul
            display: flex
            justify-content: space-evenly
            align-items: center

    .sources
        display: block

    .mobile-footer-nav
        display: none

@media screen and (min-width: 1000px)
    body
        > header
            input
                width: 20vw
                max-width: 300px